/* * { border: 1px solid white;} */
.hero {
    width: 100%;
    height: min-content;
    margin: 20px 0;
    position: relative;
}
.hero * {
    width: 100%;
}
.hero-caption {
    background-color: rgba(0, 0, 0, 60%);

    width: 100%; 
    height: 100%;

    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    text-align: center;
    font-size: 1.3rem;

    display: grid;
    align-items: center;
    justify-content: center;
}
.hero-caption h1 {
    height: min-content;
    padding: 0 10%;
    margin-bottom: 1rem;
    font-size: 1.25em;
}
.hero-caption a {
    text-decoration: none;
    border: none;
    border-radius: 5px;

    background-color: var(--color-accent-bg);
    width: fit-content;
    padding: 1rem;
    margin: auto;

    font-size: 0.5em;
    font-weight: bold;
    color: var(--color-accent-font);

    cursor: pointer;
}

@media screen and (min-width: 480px) {
    .hero-caption h1 { font-size: 1.5em;}
    .hero-caption a { font-size: 0.8em;}
}

@media screen and (min-width: 768px) {
    .hero { margin: 0;}
    .hero-caption { bottom: 100px;}
    .hero-caption h1 { margin-bottom: 5rem;}
}

@media screen and (min-width: 1224px) {
    .hero-caption h1 { font-size: 2em;}
}