.hero {
    width: 100%;
    height: min-content;
    padding: 0;
    margin: 2em 0;
    position: relative;
}
.hero * {
    width: 100%;
}
.hero > img {
    max-width: 100%;
}
.hero-caption {
    background-color: rgba(0, 0, 0, 60%);

    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    text-align: center;
    font-size: 1.3em;

    display: grid;
    align-items: center;
    justify-content: center;
}
.hero-caption h1 {
    height: min-content;
    padding: 0 10%;
    margin-bottom: 1rem;
    font-size: 1.25em;
}
.hero-caption a {
    text-decoration: none;
    border: none;
    border-radius: 5px;

    background-color: var(--color-accent-bg);
    width: fit-content;
    padding: 1rem;
    margin: auto;

    font-size: 0.5em;
    font-weight: bold;
    color: var(--color-accent-font);

    cursor: pointer;
}
.articles {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.articles > h2 { grid-column: 1/-1;}
.article-card {
    width: 100%;
    background-color: #efefef;
    color: black;
}
.article-card-photo { width: 100%;}
.article-card-text { padding: 0 1em 1em;}
.article-card-text > p {
    margin: 0 auto 2em;
    height: 4.5em;
    overflow-y: hidden;
    font-size: 0.9em;
}
.article-card-text > a{
    text-decoration: none;
    border: none;
    border-radius: 5px;
    color: var(--color-accent-font);
    font-weight: bold;
    font-size: 0.8em;
    background-color: var(--color-accent-bg);
    padding: 1em;
}

@media screen and (min-width: 480px) {
    .hero-caption h1 { font-size: 2em;}
    .hero-caption a { font-size: 0.8em;}
}

@media screen and (min-width: 768px) {
    main > section:not(:last-child) {
        padding-bottom: 100px;
        border-bottom: 1px solid white;
    }
    .hero-caption { bottom: 100px;}
    .hero-caption h1 {
        margin-bottom: 5rem;
    }
    .articles { grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));}
    .article-card-photo { height: 180px;}
}